{% load static %}
.banner-wrapper {
  background-image: url({% static "images/homepage.jpg" %});
}
.navbar .navbar-header .brand-logo {
  background-image: url({% static "images/micromasters_logo_white.svg" %});
}
.navbar .navbar-header .micromasters-logo {
  background-image: url({% static "images/micromasters_logo_programs.svg" %});
}
.navbar .navbar-header .micromasters-logo:hover {
  background-image: url({% static "images/micromasters_logo_on_programs.svg" %});
}
.how-it-works-section .reasons-images-wrap::after {
  content: url({% static "images/hiw-arrow2.png" %});
}
.sk-search-box form .sk-search-box__icon:before {
  background-image: url({% static "images/search-icon.svg" %});
}
.b2b {
  background-image: url({% static "images/b2b_section.png" %});
}
@media (min-width: 1200px) {
  .certificate .accomplishment-rendering {
    background-image: url({% static "images/certificates/micromasters_certificate_watermark.svg" %}) !important;
  }
}
@media print {
  @page {
    size: landscape;
  }
  .certificate .accomplishment-rendering {
    background-image: url({% static "images/certificates/micromasters_certificate_watermark.svg" %}) !important;
  }
}
