{% extends "base.html" %}
{% load i18n static wagtailimages_tags %}

{% block extrahead %}
<meta property="og:image" content="{% static 'images/certificates/mitx_logo_250x250.png' %}" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600;&display=swap" />
{% load render_bundle %}
{% render_bundle "style_certificate" %}
{% endblock %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block content %}
<div class="certificate">
  {% if certificate.user == user %}
    <div class="row no-print">
      <div class="col px-0">
        <div class="cer-user-info">
          <div class="user-info-holder">
            <ul class="social-links">
              <li>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}&text={{ twitter_share_text|urlencode }}" target="_blank">
                    <img src="{% static 'images/certificates/icon-twitter.svg' %}" alt="Share to Twitter">
                </a>
              </li>
              <li>
                <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank">
                    <img src="{% static 'images/certificates/icon-facebook.svg' %}" alt="Share to Facebook">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/profile/add?certUrl={{ request.build_absolute_uri|urlencode }}&{{ linkedin_share_context }}" target="_blank">
                    <img src="{% static 'images/certificates/icon-linkedin.svg' %}" alt="Share to LinkedIn">
                </a>
              </li>
              <li>
                <a href="javascript:window.print();">
                    <img src="{% static 'images/certificates/icon-print.svg' %}" alt="Print">
                </a>
              </li>
            </ul>
            <h2>Congratulations, {{ name }}!</h2>
            <p>You worked hard to earn your certificate from MITx — share it with colleagues, friends, and family to get the word out about what you mastered in {% if course_title %}{{ course_title }}{% else %}{{ program_title }}{% endif %}.</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <main class="accomplishment accomplishment-main">
    <div class="wrapper-accomplishment-rendering">
      <div class="accomplishment-rendering">
        <div class="wrapper-accomplishment-title verified">
          {% if course_title %}
          <div class="accomplishment-title">
              <img src="{% static 'images/certificates/micromasters_certificate_verified_logo.svg' %}" alt="MicroMaster's Certificate of Completion" />
              <span class="sr-only">Verified Certificate</span>
          </div>
          {% else %}
          <div class="accomplishment-title-program">
              <img src="{% static 'images/certificates/micromasters_certificate_logo.svg' %}" alt="MicroMaster's Certificate of Completion" />
              <span class="sr-only">Verified Certificate</span>
          </div>
          {% endif %}
          <div class="wrapper-accomplishment-orgs">
            <h3 class="accomplishment-orgs-title sr-only">Supported by the following organizations</h3>
            <ul class="wrapper-orgs list-orgs">
              <li class="wrapper-organization">
                <div class="organization">
                    <img src="{% static 'images/certificates/mitx_certificate_logo.png' %}" alt="MITx Logo" />
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="wrapper-accomplishment-statement">
          <div class="accomplishment-statement">
            <p class="accomplishment-statement-lead">
              <span class="accomplishment-statement-detail">This is to certify that</span>
              <strong class="accomplishment-recipient">{{ name }}</strong>
              {% if course_title %}
                <span class="accomplishment-summary">successfully completed and received a passing grade in</span>
                <span class="accomplishment-course">
                  <span class="accomplishment-course-name">{{ course_title }}</span>
                </span>
                <span class="accomplishment-statement-detail institute-detail">a course of study offered by MITx,
                  an online learning initiative of the Massachusetts Institute of Technology.</span>
              {% else %}
                <span class="accomplishment-summary">successfully completed and received a passing grade in</span>
                <span class="accomplishment-course">
                  <span class="accomplishment-course-name">{{ program_title }}</span>
                </span>
                <span class="accomplishment-statement-detail institute-detail">a program of study offered by MITx,
                  an online learning initiative of the Massachusetts Institute of Technology.</span>
              {% endif %}
            </p>
          </div>
            <div class="accomplishment-signatories">
              <h3 class="accomplishment-signatories-title sr-only">Noted by</h3>
              <div class="wrapper-signatories">
                <div class="list-signatories">
                  {% for signatory in signatories %}
                    <div class="signatory">
                      {% image signatory.signature_image max-200x100 class="signatory-signature" %}
                        <h4 class="signatory-name">{{ signatory.name }}</h4>
                        <p class="signatory-credentials">
                          <span class="role">{{ signatory.title_line_1 }}</span>
                          {% if signatory.title_line_2 %}
                            <br>
                            <span class="role">{{ signatory.title_line_2 }}</span>
                          {% endif %}
                          <span class="organization">{{ signatory.organization }}</span>
                        </p>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>
        <div id="cert_detail" class="wrapper-accomplishment-stamps">
          <ul class="accomplishment-stamps copy-list">
            <li class="accomplishment-stamp-platform">
              <a class="img-link" href="http://edx.org">
                <img class="logo-img" src="{% static 'images/edx_logo.svg' %}" alt="edX" />
              </a>
            </li>
            <li class="accomplishment-stamp-date">
              <span class="title">Verified Certificate</span>
              <span class="copy-micro emphasized">Issued {{ certificate.created_on|date:"F j, Y" }}</span>
            </li>
            <li class="accomplishment-stamp-validity">
              <span class="title">Valid Certificate ID</span>
              <span class="emphasized">
                {% if course_title %}
                  <a href="{% url 'certificate' certificate.hash %}">
                    {{ certificate.hash }}
                  </a>
                {% else %}
                  <a href="{% url 'program-certificate' certificate.hash %}">
                    {{ certificate.hash }}
                  </a>
                {% endif %}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "footer.html" %}
{% endblock %}
