{% extends "base.html" %}
{% load i18n static wagtailimages_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600;" />
{% endblock %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block content %}
<div class="certificate">
  <main class="certificate-body verified grade-record">
    <div class="row">
    <div class="col-md-8">
      MicroMasters Program Record
      <div class="program-title">{{ program_title }}</div>
      <div class="name">
        <div class="full-name">{{ profile.full_name }}</div>
        {{ profile.username }} | {{ profile.email }}
      </div>
    </div>

    <div class="col-md-4 right-col">
      <div class="organization-logo">
        <img src="{% static 'images/mitx_logo.png' %}" alt="MITx Logo" />
      </div>
    </div>
    </div>
    <div class="row row-header">
        <div class="col-md-3">Class Name</div>
        <div class="col-md-4">Course ID</div>
        <div class="col-md-3">Highest Grade Earned</div>
        <div class="col-md-2">Status</div>
    </div>
    {% for record in courses %}
      <div class="row">
        <div class="col-md-3">{{ record.title }}</div>
        <div class="col-md-4">{{ record.edx_course_key }}</div>
        <div class="col-md-3">{{ record.overall_grade }}</div>
        <div class="col-md-2">{{ record.status }}</div>
    </div>
    {% endfor %}


  </main>
</div>
{% include "footer.html" %}
{% endblock %}
