  <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <div class="pull-left">
          <a class="brand-logo" href="{{ request.build_absolute_uri }}" rel="noopener noreferrer"></a>
        </div>
        <div class="pull-right" style="padding-top:4px">
        {% if page.program.id != 2 %}
          {% if authenticated %}
          <a class="header-dashboard-link" href="/dashboard">My Dashboard</a>
          <a class="header-dashboard-link" href="/logout">
            Sign Out
          </a>
          {% else %}
          <a class="mdl-button button-login" href="{% url 'signin' %}">Sign In</a>
          <a class="mdl-button button-signup" href="{% url 'signin' %}">
            Create Account
          </a>
          {% endif %}
        {% endif %}
        </div>
      </div>
  </nav>
