  <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <div class="pull-left">
          <a class="brand-logo" href="http://www.mit.edu" target="_blank"><img src="/static/images/mit-logo-transparent.svg"  height="40" alt="MIT Home Page" /></a>
          <div class="divider-large">&nbsp;</div>
          <div class="header-page-name"><a href="/"><img src="/static/images/micromasters_logo_white.png"  height="40" alt="MIT MicroMasters" /></a></div>
          </div>
        <div class="pull-right">
          {% if authenticated %}
          <a class="header-dashboard-link" href="/dashboard">My Dashboard</a>
          <a class="btn btn-login white-button upper-case" href="/logout">
            Sign Out
          </a>
          {% else %}
          <a class="members-login btn ghost upper-case" href="{% url 'social:begin' 'edxorg' %}">Log In</a>
          <a class="btn btn-login white-button open-signup-dialog upper-case">
          Sign Up
          </a>
          {% endif %}
        </div>
      </div>
  </nav>
  <!-- Start of odl Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","odl.zendesk.com");
  /*]]>*/</script>
  <!-- End of odl Zendesk Widget script -->
