{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}
{% block bodyclass %}signin-page{% endblock %}

{% block content %}

<div id="signin-page">
{% include "header.html" %}

<div class="main-content-wrapper">
  {% if messages %}
  <div class="messages alert alert-warning">
      {% for message in messages %}
      <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
      </span>
      {% endfor %}
      <p>If you think there is a problem, please send an email to
    	<a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
  </div>
  {% endif %}
  <div class="auth-card">
  {% if program %}
    {% if program.has_mitxonline_courses %}
      <div class="logos">
        <img
          class="mitx_logo"
          src="/static/images/mitxonline_logo.png"
          alt="MITx"
        />
      </div>
      <p>Courses for {{program.title}} are now offered on MITx Online.</p>

      <a href="{% url 'social:begin' 'mitxonline' %}{{login_qs}}" class="mdl-button signup-modal-button centered-content">
        Continue with MITx Online
      </a>
      <p>
        If you haven't created an MITx Online account yet, but you have an existing MicroMasters account,
        please <a href="{% url 'social:begin' 'edxorg' %}{{login_qs}}">login with edX</a> first.
      </p>
    {% else %}
      <div class="logos">
        <img class="edx_logo" src="/static/images/edx_logo.svg" alt="edX" />
        <img
          class="mitx_logo"
          src="/static/images/mitx_logo.png"
          alt="MITx"
        />
      </div>
      <p>
        MITx MicroMasters courses for {{program.title}} are delivered on edX. To sign up for
        this program you need an edX account.
      </p>

      <a href="{% url 'social:begin' 'edxorg' %}{{login_qs}}" class="mdl-button signup-modal-button centered-content">
        Continue with edX
      </a>
    {% endif %}
  {% else %}
    <div class="logos">
      <img class="edx_logo" src="/static/images/edx_logo.svg" alt="edX" />
      <img
        class="mitx_logo"
        src="/static/images/mitx_logo.png"
        alt="MITx"
      />
    </div>
    <p>
      MITx MicroMasters courses are delivered on edX. To sign up for a program you need an edX account.
    </p>

    <a href="{% url 'social:begin' 'edxorg' %}{{login_qs}}" class="mdl-button signup-modal-button centered-content">
      Continue with edX
    </a>
  {% endif %}

  <div class="terms-of-service-text">
    By signing in to MicroMasters, I certify that I agree with
    <a href="/terms_of_service" target="_blank" rel="noopener noreferrer">MITx MicroMasters Terms of Service</a>.
    Read our
    <a
      href="http://web.mit.edu/referencepubs/nondiscrimination/index.html"
      target="_blank"
      rel="noopener noreferrer"
    >
      Nondiscrimination Policy.
    </a>
  </div>
  </div>
</div>
</div>
{% include "faqs.html" %}
{% include "footer.html" %}

{% load render_bundle %}
{% render_bundle 'dashboard' %}
{% endblock %}
