#home-page {
  background: #fff;
}

h3 {
  line-height: 1.4em;
}

a {
  color: #115878;
  text-decoration: underline;
}

.navbar {
  background-color: $mm-brand-bg;
  border-radius: 0;
  height: auto;
  min-height: 0;
  padding: 9px 27px 8px 33px;

  @include breakpoint(phone) {
    padding: 9px 25px 8px 25px;
  }

  .navbar-header {
    padding: 0;

    .pull-left {
      position: relative;
      top: 2px;

      @include breakpoint(phone) {
        float: left;
      }

      .brand-logo {
        float: left;
        /* background image from background-images.css */
        background-repeat: no-repeat;
        overflow: visible;
        position: relative;
        height: 48px;
        width: 250px;
        top: 2px;
        margin-right: 15px;
      }

      .divider-large {
        width: 1px;
        height: 32px;
        margin: 1px 18px 0 0;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        float: left;
      }

      .header-page-name {
        display: inline-block;
        color: white;
        font-size: 17px;
        margin: 0;
        font-weight: 300;
        float: left;
        position: relative;
        bottom: 2px;

        h2 {
          font-size: 17px;
          margin: 0;
          padding: 0;
          font-weight: 300;

          a,
          a:hover {
            color: white;
            font-weight: 300;
          }
        }

        img.micromasters_logo {
          width: 120px;
        }
      }
    }

    .pull-right {
      color: #000;

      @include breakpoint(phone) {
        float: left !important;
        display: block;
        margin: 20px auto 4px;
        width: 100%;

        .button-signup {
          box-sizing: border-box;
          width: 48%;
        }

        .button-login {
          box-sizing: border-box;
          width: 48%;
          margin-right: 2%;
          border-width: 1px;
        }
      }

      a.header-dashboard-link {
        display: inline-block;
        margin: 0 25px 0 0;
        padding: 12px 0;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        position: relative;

        @include breakpoint(phone) {
          text-align: center;
          padding: 13px 0;
          width: 48%;
          margin-right: 0;
        }
      }

      a.header-dashboard-link:hover {
        text-decoration: underline;
      }
    }
  }
}

.centered-content {
  width: 97%;
  max-width: 1150px;
  margin: 0 auto;
}

.banner-wrapper {
  /* background image from background-images.css */
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #222;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  min-height: 449px;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;

  @include breakpoint(phone) {
    min-height: calc(100vh - 200px);
  }

  .banner-wrapper-content {
    margin: 0 auto;
    padding: 40px 15px;
    bottom: 0;
    width: 100%;
    max-width: 1100px;

    @include breakpoint(phone) {
      padding: 20px 8%;
    }

    h1,
    h2 {
      color: #ffffff;
      margin: 0 0 20px;
    }

    h1 {
      font-size: 40px !important;
      font-weight: 400;
      margin: 0 0 37px;
      text-align: center;
      min-height: 133px;
      padding: 40px 20px;
      background: rgba(18, 111, 154, 0.6);

      @media (min-width: 1200px) {
        font-size: 3.2vw;
      }

      @include breakpoint(phone) {
        font-size: 25px;
        line-height: 1.15;
        margin-bottom: 10px;
      }
    }

    h2 {
      font-size: 25px;
      font-weight: 300;
      line-height: 1.4em;
      color: rgba(255, 255, 255, 0.9);
      padding: 0;

      @media (min-width: 1200px) {
        font-size: 2.2vw;
      }

      @include breakpoint(phone) {
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 0;
      }
    }

    .action-button {
      background-color: $mm-brand-bg;
      border-color: $mm-brand-bg;
    }
  }
}

.sub-banner {
  background-color: #ececec;

  .sub-banner-section {
    text-align: center;

    .sub-banner-text {
      text-align: left;
      margin: 0 auto;
      color: #000;
      font-size: 25px;
      font-weight: 200;
      line-height: 44px;
      max-width: 1100px;
      padding: 0 15px;

      span {
        vertical-align: super;
        font-size: 14px;
      }

      @include breakpoint(phone) {
        width: 97%;
      }

      h2, h3 {
        margin: 20px 0px 40px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        font-size: 23px !important;
        font-weight: 500;
        letter-spacing: 0.96px;
        line-height: 23px;

        @include breakpoint(phone) {
          font-size: 22px;
          margin: 20px 0px;
        }

        @media (min-width: 1200px) {
          font-size: 1.9vw;
        }
      }

      p {
        font-size: 16px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 1.1em;
      }
    }
  }
}

.enroll-reason {
  margin-bottom: 20px;

  a {
    font-weight: bold;
    text-decoration: underline;
  }
}

.quote-section {
  background: #fff;
  padding: 50px 0 0;

  @include breakpoint(phone) {
    padding: 45px 0;
  }

  .quote {
    width: 71%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
    border-bottom: 1px dashed #c5c5c5;

    @include breakpoint(mobile) {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    img.person {
      float: left;
      width: 170px;
      margin: 0 70px 80px;

      @include breakpoint(mobile) {
        float: none;
        margin: 0 auto;
      }
    }

    blockquote.quote-text {
      color: $font-gray-dark;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.4em;

      a {
        font-weight: 300;
      }

      @include breakpoint(mobile) {
        font-size: 19px;
        margin-top: 20px;
      }
    }

    p.quote-author {
      color: $font-gray-dark;
      font-size: 22px;
      font-weight: 300;
      font-style: italic;

      @include breakpoint(phone) {
        font-size: 19px;
      }
    }
  }

  .quote:after {
    clear: both;
  }

  .quote:last-child {
    border-bottom: none;
  }
}

.current-programs-section {
  margin: 0 0 40px;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;

  h3 {
    margin: 0 0 70px;
    color: $font-black;

    @include breakpoint(phone) {
      margin: 0 0 40px;
    }
  }

  ul {
    &.current-programs-list {
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 45px -15px;

      a {
        text-decoration: none;
      }

      li {
        margin-bottom: 30px;

        &:hover {
          .program-info {
            height: 100%;
            overflow: auto;
            background: linear-gradient(180deg, rgba(0,0,0,0.52) 0%, rgba(0,0,0,0.89) 100%);
          }

          .program-description {
            display: block;

            .program-description-link {
              a {
                color: #ffffff;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .program-thumbnail {
        position: relative;
        background-color: black;

        a.program-link {
          display: block;
        }

        .program-info {
          position: absolute;
          width: 100%;
          bottom: -1px;
          padding: 30px;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
          z-index: 1;

          .program-title,
          .program-num-courses {
            margin: 0 0 3px;
            font-weight: 300;
            line-height: 1.2em;
          }

          .program-title {
            color: white;
            font-size: 17px;
            font-weight: 400;
          }

          .program-num-courses {
            color: rgba(255, 255, 255, 0.7);
            font-size: 14px;
          }
        }

        img {
          width: 100%;

          &.program-default-image {
            opacity: 0.4;
          }
        }
      }

      .program-description {
        display: none;
        padding: 20px 0px;

        @include breakpoint(phone) {
          padding: 20px 3px 30px;
          height: auto;
        }

        p.program-description-text {
          max-height: 15em;
          overflow: auto;

          @include breakpoint(phone) {
            max-height: none;
          }
        }

        p {
          color: #ffffff;
          font-weight: 400;
          font-size: 15px;
          margin: 0 0 13px;
        }
      }
    }
  }
}

.reasons-section,
.how-it-works-section {
  padding: 7vw 0 8vw;
  margin: 0;
  text-align: center;
  background-color: $mm-brand-bg;

  a {
    color: #ffffff;
  }

  .centered-content {
    max-width: 1360px;
  }

  .col-md-4,
  .col-md-3 {
    padding: 0 3%;

    @include breakpoint(phone) {
      padding: 0 9%;
      width: 100%;
      float: left;
    }
  }

  h4,
  h5,
  p {
    color: white;
    font-weight: 300;
  }

  h4 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 25px;
  }

  p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4em;
  }

  h3 {
    margin: 0 5% 40px;
    font-weight: 400;
    font-size: 23px;
    color: white;

    @include breakpoint(phone) {
      font-size: 22px;
    }
  }

  .benefits {
    clear: both;
    padding-top: 3vw;

    a {
      letter-spacing: 1.83px;
      line-height: 25px;
      background-color: #126f9a;
      color: white;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
    }
  }

  .reasons-images-wrap {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    margin-bottom: 5px;

    img {
      margin: auto auto;
      width: 123px;
    }
  }
}

.reasons-section {
  padding: 5vw 0 5vw;
}

.how-it-works-section {
  background: #1a1a1a;

  h4 {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.85);
  }

  .reasons-images-wrap::after {
    /* content from background-images.css */
    position: absolute;
    left: 103%;
    top: 18px;
    @media (max-width: 992px) {
      content: none;
    }
  }

  .col-md-3:last-child {
    .reasons-images-wrap::after {
      content: none;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.6);

    @include breakpoint(phone) {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.btn {
  padding: 10px 18px;
}

.btn-danger {
  background: #a51c31;
  border-color: #a51c31;
}

.btn-danger:hover {
  background: #c50724;
  border-color: #c50724;
}

.btn-danger:active {
  background: #000 !important;
  border-color: #000 !important;
}

.program-link:hover {
  text-decoration: none;
}

.subscription-form legend,
.subscription-form label {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  border: 0;
}

.subscription-result {
  display: none;
  font-weight: 700;
  color: #fff;
  font-size: 0.9em;
  padding: 14px;
  border-radius: 4px;

  &.success {
    background: #417505;
  }

  &.error {
    background: #742932;
  }
}

.flat-field {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // sass-lint:disable-line no-vendor-prefixes
  padding: 10px 4px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  border: 0;
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.870588);
  box-sizing: border-box;
  margin-top: 14px;
}

.mailchimp-btn {
  display: inline-flex !important;
  margin-right: 10px !important;
}

.faqs {
  padding: 106px 0;
  background-color: #ebeced;

  .faq-holder {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;

    img {
      float: left;
      margin-right: 50px;
      width: 121px;
    }

    @media (max-width: 767px) {
      img {
        display: block;
        margin: 0 auto;
        float: none;
      }

      .info {
        span {
          text-align: center;
        }
      }
    }

    .info {
      span {
        display: block;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2.66px;
        line-height: 24px;
        padding: 10px 0px;

        &.title {
          text-transform: uppercase;
        }

        &.description {
          a {
            text-decoration: underline;
            color: black;
          }
        }
      }
    }
  }
}

.events {
  padding: 40px 0 100px 0;

  .container {
    text-align: center;

    h3 {
      margin: 0 0 30px;
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 0.96px;
      line-height: 27px;
    }

    .content-holder {
      display: flex;
      align-items: center;
      max-width: 900px;
      margin: 0 auto;

      @media (max-width: 767px) {
        display: block;
      }

      .info {
        text-align: left;
      }

      img {
        width: 422px;
        margin-right: 20px;

        @media (max-width: 767px) {
          width: 100%;
          display: block;
          margin-bottom: 15px;
        }
      }

      a:not(.img-link) {
        background-color: $mm-brand-bg;
        border-color: $mm-brand-bg;
      }
    }
  }
}

.b2b {
  background-size: cover;
  text-align: center;
  color: white;
  background-color: black;

  .container {
    padding: 100px 15px;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;

    .content-holder {
      text-align: left;
      overflow: hidden;

      h3 {
        margin-bottom: 20px;
      }

      a {
        margin-top: 20px;
        background-color: $mm-brand-bg;
        border-color: $mm-brand-bg;
      }
    }
  }
}
