.profile-form {
  min-height: 0 !important;
  width: 94% !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin: 12px auto 15px;
  padding: 15px 25px;

  .card-image {
    height: auto;
    width: 125px;
    border-radius: 50%;
    margin-left: 15px;
  }

  i.material-icons {
    color: $mm-brand-blue;
  }

  .section-header {
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
  }

  label {
    font-weight: 400;
  }

  .profile-radio-switch {
    display: flex;
    flex-direction: row;
    color: $lightgrey !important;
    text-transform: uppercase;

    div:first-child {
      margin-right: 15px;
    }
  }

  .profile-radio-switch, .profile-radio-group {
    svg:last-child {
      fill: $mm-brand-blue !important;
    }
  }

  .profile-radio-group-label {
    font-weight: 400;
    font-size: 12px;
  }

  .profile-radio-switch > div {
    width: 0 !important;
  }

  .profile-form-grid {
    width: 100%;
    padding: 0;

    .title {
      font-weight: 600;
      margin-top: 15px;
    }

    .profile-form-row, .profile-form-row > .col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .profile-form-row {
      &:nth-last-child(2) {
        .col {
          border-bottom: none !important;
        }
      }
    }

    &.add {
      margin-bottom: 17px;
    }

    .profile-form-row > .col {
      width: 50%;
      border-bottom: 1px #E2E2E2 solid;
      margin-right: 10px;
      padding: 15px 0;

      &.education {
        margin-top: 17px;
      }

      &.employment {
        margin-top: -12px;
      }

      .profile-row-name {
        font-size: 16px;
        color: #404040;

        .school-type {
          font-weight: 600;
          text-transform: capitalize;
        }

        .school-name {
          margin-top: 10px;
        }
      }

      .profile-row-date-range {
        font-size: 16px;
        font-weight: 300;
        color: #b7b7b7;
      }

      .profile-row-new-line {
        display: block;
        width: 100%;
      }
    }

    .profile-card-header {
      .title {
        font-weight: 600;
        font-size: 18px;
      }
    }

  }

  .bound-check-box {
    margin:  12px 0 20px;
  }
}


// for the Why we ask this tooltip
// TODO: where should this go?
[data-id='tooltip'] {
  max-width: 450px;
  font-size: 14px;
}
.tooltip-link {
  color: $link-text;
  cursor: pointer;
}

.profile-form.collapsed {
  height: 60px;
  min-height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;

  .profile-form-grid {
    margin-top: 6px;
  }
}
