.mdl-card.user-chip {
  min-height: 0;
  width: 315px;
  position: absolute;
  display: none;
  //flex-direction: row;
  //justify-content: space-between;
  //align-items: center;
  top: 10%;
  left: 200px;
  padding: 15px;

  .profile-info {
    margin-left: 25px;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    a, .employer {
      font-size: 15px;
    }

    .employer {
      font-weight: 400;
      color: $font-gray;
      margin: 0 0 5px 2px;
    }

    a {
      margin-left: 2px;
    }

    a:hover {
      text-decoration: none !important;
      color: #0074e1;
    }

    a:hover > span {
      text-decoration: underline;
    }

    a.mm-minor-action {
      i {
        margin-right: 6px;
        font-size: 28px;
      }
    }
  }

  .avatar {
    width: 43px;
    float: left;
    margin-right: 15px;

    img {
      border-radius: 50px;
      }
  }

}

.learner-result > .learner-name:hover {
  .mdl-card.user-chip {
    display: block;
  }
}
