{% extends "base.html" %}
{% load i18n static rest_framework %}

{% block title %}{% trans "Review Financial Aid" %}{% endblock %}

{% block extrahead %}
<style>
   .btn {
     height: 34px;
     padding: 8px 18px;
   }
</style>
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <div class="page-content">
    <div class="single-column" style="max-width: 1000px;">
      <div class="blocks-sm-2">
        <li>
          <h4 style="margin-top: 0;">Financial Aid Submissions</h4>
        </li>
        <!-- Filters -->
        <li>
          <div class="pull-right">
            <select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
            {% for status, message in financial_aid_statuses %}
              <option value="{% url 'review_financial_aid' program_id=current_program_id status=status %}"
                      {% if selected_status == status %}selected{% endif %}>
                {{ message }}
              </option>
            {% endfor %}
            </select>
          </div>
        </li>
        <!-- /Filters -->
      </div>

      <div style="background-color: #ffffff; font-size: 14px; padding: 20px;">
        <ul class="blocks-sm-3">
          <!-- Search bar -->
          <li>
            <div class="input-group">
              <input type="text" id="search-query" class="form-control" placeholder="Search" value="{{ search_query }}"
                     onkeydown="if (event.keyCode == 13) { initiateSearch(); }">
              <span class="input-group-btn">
                <button class="btn btn-default" onclick="initiateSearch();">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </li>
          <!-- /Search bar -->
          <!-- Currency selection -->
          <li style="padding-top: 7px;">
            <div class="radio-inline">
              <label>
                <input type="radio" name="currency-selection" id="currency-selector-usd"
                       onclick="$('.income-usd').show(); $('.income-local').hide();" checked>
                USD
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="currency-selection" id="currency-selector-original"
                       onclick="$('.income-usd').hide(); $('.income-local').show();">
                Local Currency
              </label>
            </div>
          </li>
          <!-- /Currency selection -->
          <!-- Pagination buttons -->
          <li>
            <div class="pull-right">
              <span style="color: #999999; margin-right: 12px; position: relative; top: 2px;">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
              </span>
              <span>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&sort_by={{ current_sort_field }}"
                   class="btn btn-default" style="padding: 8px 10px 8px 12px;">
                  <span class="glyphicon glyphicon-chevron-left" style="color: #000000;"></span>
                </a>
              {% else %}
                <button class="btn btn-default disabled" style="padding: 8px 10px 8px 12px;">
                  <span class="glyphicon glyphicon-chevron-left" style="color: #000000;"></span>
                </button>
              {% endif %}
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort_by={{ current_sort_field }}"
                   class="btn btn-default" style="padding: 8px 12px 8px 10px;">
                  <span class="glyphicon glyphicon-chevron-right" style="color: #000000;"></span>
                </a>
              {% else %}
                <button class="btn btn-default disabled" style="padding: 8px 12px 8px 10px;">
                  <span class="glyphicon glyphicon-chevron-right" style="color: #000000;"></span>
                </button>
              {% endif %}
              </span>
            </div>
          </li>
          <!-- /Pagination buttons -->
        </ul>
        
        <!-- Messages -->
        <div id="messages"></div>
        <!-- Message template -->
        <div id="message-template" class="alert alert-dismissible" style="display: none;">
          <button class="close" data-dismiss="alert"><span>&times;</span></button>
          <span></span>
        </div>
        <!-- /Message template -->
        <!-- /Messages -->
        
        <!-- Financial aid application table -->
        <table class="table">
          <thead>
            <tr style="color: #999999;">
              <th></th>
              <th style="font-weight: normal;">
                {% include "common/sort_links.html" with field=sort_fields.last_name %}
              </th>
              <th style="font-weight: normal;">
                {% include "common/sort_links.html" with field=sort_fields.reported_income %}
              </th>
              <th style="font-weight: normal;">
                {% include "common/sort_links.html" with field=sort_fields.date_calculated %}
              </th>
              <th style="font-weight: normal; min-width: 104px;">
                {% include "common/sort_links.html" with field=sort_fields.adjusted_cost %}
              </th>
              {% if selected_status == statuses.APPROVED or selected_status == statuses.REJECTED %}
              <th style="font-weight: normal;">Justification</th>
              {% endif %}
              {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
              <th style="font-weight: normal;">Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for financial_aid in financial_aid_objects %}
            <!-- Financial aid application information -->
            <tr id="application-row-{{ financial_aid.id }}" class="alert-dismissable">
              <!-- Profile picture -->
              <td>
                {% if financial_aid.user.profile.image %}
                <img src="{{ financial_aid.user.profile.image }}"
                {% else %}
                <img src="{% static 'images/avatar_default.png' %}"
                {% endif %}
                     style="height: 35px; border-radius: 18px; border: 1px solid rgba(180, 180, 180, 0.5)">
              </td>
              <!-- /Profile picture -->
              <!-- Name/location -->
              <td style="white-space: nowrap">
                <span id="full-name-{{ financial_aid.id }}">
                  <b>{{ financial_aid.user.profile.first_name }} {{ financial_aid.user.profile.last_name }}</b>
                </span>
                <br>
                <small>{{ financial_aid.user.profile.city }}, {{ financial_aid.user.profile.country }}</small>
              </td>
              <!-- /Name/location -->
              <!-- Income -->
              <td style="white-space: nowrap">
                <span class="income-usd"><b>$</b>{{ financial_aid.income_usd|floatformat:0 }}</span>
                <span class="income-local" style="display: none;">
                  <b>$</b>{{ financial_aid.original_income|floatformat:0 }} <b>{{ financial_aid.original_currency }}</b>
                </span>
              </td>
              <!-- /Income -->
              <!-- Date calculated -->
              <td>{{ financial_aid.created_on|date:"SHORT_DATE_FORMAT" }}</td>
              <!-- /Date calculated -->
              <!-- Adjusted cost -->
              <td>
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                <select id="tier-program-id-{{ financial_aid.id }}" class="form-control">
                {% for tier_program in tier_programs %}
                  <option value="{{ tier_program.id }}"
                          {% if tier_program == financial_aid.tier_program %}selected{% endif %}>
                    ${{ tier_program.adjusted_cost }}
                  </option>
                {% endfor %}
                </select>
                {% else %}
                <input type="text" class="form-control" value="${{ financial_aid.adjusted_cost }}" disabled>
                {% endif %}
              </td>
              <!-- /Adjusted cost -->
              <!-- Justification -->
              {% if selected_status == statuses.APPROVED or selected_status == statuses.REJECTED %}
              <td>
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                <select id="justification-{{ financial_aid.id }}" class="form-control">
                  <option value="">--</option>
                {% for justification in justifications %}
                  <option value="{{ justification }}">
                    {{ justification }}
                  </option>
                {% endfor %}
                </select>
                {% else %}
                <input type="text" class="form-control"
                       value="{{ financial_aid.justification|default_if_none:'--' }}" disabled>
                {% endif %}
              </td>
              {% endif %}
              <!-- /Justification -->
              <!-- Actions -->
              {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
              <td style="white-space: nowrap;">
                <!-- Mark docs as received -->
                {% if selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
                <button class="btn btn-default" style="color: #0074e1; padding-top: 7px;"
                       onclick="submitDocsReceived({{ financial_aid.id }}, '{% url 'financial_aid_action' financial_aid_id=financial_aid.id %}')">
                  Mark Docs Received
                </button>
                {% endif %}
                <!-- /Mark docs as received -->
                <!-- Submit approval -->
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                <button class="btn btn-default" style="color: #0074e1; padding-top: 7px;"
                        onclick="submitApproval({{ financial_aid.id }}, '{% url 'financial_aid_action' financial_aid_id=financial_aid.id %}');">
                  Save
                </button>
                {% endif %}
                <!-- /Submit approval -->
                <button class="btn btn-default" style="color: #0074e1;"
                        onclick="$('#application-email-row-{{ financial_aid.id }}').toggle();">
                  <span class="glyphicon glyphicon-envelope"></span>
                </button>
              </td>
              {% endif %}
              <!-- /Actions -->
            </tr>
            <!-- /Financial aid application information -->
            <!-- Financial aid application email form -->
            {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
            <tr id="application-email-row-{{ financial_aid.id }}" style="display: none;">
              <td colspan="9" style="border-top: 0;">
                <form id="email-form-{{ financial_aid.id }}" class="email-form form-horizontal">
                  {% render_form email_serializer template_pack="rest_framework/horizontal" %}
                </form>
                <button class="btn btn-primary pull-right"
                        onclick="sendEmail({{ financial_aid.id }}, '{% url 'financial_aid_mail_api' financial_aid_id=financial_aid.id %}');">Send Email</button>
                <br>
              </td>
            </tr>
            {% endif %}
            <!-- /Financial aid application email form -->
          {% endfor %}
          </tbody>
        </table>
        <!-- /Financial aid application table -->
      </div>
    </div>
  </div>
  
  {% include "footer.html" %}
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
    
    var CSRF_TOKEN = "{{ csrf_token }}";
    
    {% if selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
    /**
     * Marks documents as received for a financial aid application
     * 
     * @param financial_aid_id {number} Financial aid application id
     * @param url {string} URL to submit request to
     */
    function submitDocsReceived(financial_aid_id, url) {
      var name = $("#full-name-" + financial_aid_id).text().trim();
      if (confirm("Click OK to mark documents as received for " + name + "'s financial aid application.")) {
        var action = "{{ statuses.PENDING_MANUAL_APPROVAL }}";
        $.ajax({
          "url": url,
          "type": "PATCH",
          "headers": {
            "X-CSRFToken": CSRF_TOKEN
          },
          "data": {
            "action": action
          },
          "success": function() {
            displayMessage(
              "Successfully marked documents as received for " + name + "'s financial aid application.",
              "success"
            );
            $("#application-row-" + financial_aid_id + ", #application-email-row-" + financial_aid_id).remove();
          },
          "error": function(result) {
            displayMessage("Error: " + result.responseText + " on " + name + "'s financial aid application.", "danger");
          }
        });
      }
    }
    {% endif %}
    
    
    {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
    /**
     * Submits a financial aid application approval
     * 
     * @param financial_aid_id {number} Financial aid application id
     * @param url {string} URL to submit request to
     */
    function submitApproval(financial_aid_id, url) {
      var name = $("#full-name-" + financial_aid_id).text().trim();
      if (confirm("Click OK to approve " + name + "'s financial aid application.")) {
        var action = "{{ statuses.APPROVED }}";
        var justification = $("#justification-" + financial_aid_id).val();
        var tier_program_id = $("#tier-program-id-" + financial_aid_id).val();
        $.ajax({
          "url": url,
          "type": "PATCH",
          "headers": {
            "X-CSRFToken": CSRF_TOKEN
          },
          "data": {
            "action": action,
            "justification": justification,
            "tier_program_id": tier_program_id
          },
          "success": function() {
            displayMessage("Successfully approved " + name + "'s financial aid application.", "success");
            $("#application-row-" + financial_aid_id + ", #application-email-row-" + financial_aid_id).remove();
          },
          "error": function(result) {
            displayMessage("Error: " + result.responseText + " on " + name + "'s financial aid application.", "danger");
          }
        });
      }
    }
    {% endif %}
    
    
    {% if selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT or selected_status == statuses.PENDING_MANUAL_APPROVAL %}
    /**
     * Submits a financial aid email request
     * 
     * @param financial_aid_id {number} Financial aid application id
     * @param url {string} URL to submit request to
     */
    function sendEmail(financial_aid_id, url) {
      var name = $("#full-name-" + financial_aid_id).text().trim();
      if (confirm("Click OK to send email to " + name)) {
        var emailSubject = $("#email-form-" + financial_aid_id + " [name='email_subject']").val();
        var emailBody = $("#email-form-" + financial_aid_id + " [name='email_body']").val();
        $.ajax({
          "url": url,
          "type": "POST",
          "headers": {
            "X-CSRFToken": CSRF_TOKEN
          },
          "data": {
            "email_subject": emailSubject,
            "email_body": emailBody
          },
          "success": function() {
            displayMessage("Successfully sent email to " + name, "success");
            $("#email-form-" + financial_aid_id).trigger("reset");
            $("#application-email-row-" + financial_aid_id).hide();
          },
          "error": function(result) {
            displayMessage("Error in sending email to " + name + ": " + result.responseText, "danger");
          }
        });
      }
    }
    {% endif %}
    
    
    /**
     * Displays a dismissible alert message.
     * 
     * @param message {string} Message to display
     * @param type {string} Type of Bootstrap alert
     */
    function displayMessage(message, type) {
      var template = $("#message-template").clone();
      // Populate template
      template.removeAttr("id").addClass("alert-" + type).children("span").text(message);
      $("#messages").append(template);
      template.slideDown();
    }
    
    
    /**
     * Redirects to initiate search
     * 
     */
    function initiateSearch() {
      var searchQuery = $("#search-query").val();
      location = "{{ request.path }}?sort_by={{ current_sort_field }}&search_query=" + searchQuery;
    }
  </script>
{% endblock %}
