name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-22.04

    services:
      # Label used to access the service container
      db:
        # Docker Hub image
        image: postgres:12.7
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
      
      redis:
        image: redis:5.0.8
        ports:
          - 6379:6379

      opensearch:
        image: opensearchproject/opensearch:1.2.4
        env:
          network.host: "0.0.0.0"
          http.cors.enabled: "true"
          http.cors.allow-origin: "*"
          rest.action.multi.allow_explicit_index: "false"
          ES_JAVA_OPTS: -Xms512m -Xmx512m"
        ports:
          - 9200:9200
  
    steps:
      - uses: actions/checkout@v4

      - name: Apt update
        run: sudo apt-get update -y

      - name: Apt install
        run: cat Aptfile | sudo xargs apt-get install

      - name: Install Python 3.9.23
        uses: actions/setup-python@v4
        with:
          python-version: "3.9.23"

      - name: Install dependencies
        run: pip install -r requirements.txt -r test_requirements.txt

      - name: Lint
        run: pylint ./**/*.py

      # You must also add the Configure sysctl limits step, otherwise Opensearch will not be able to boot.
      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Install and Run OpenSearch 1.2.0
        run: |
          curl -L -O https://artifacts.opensearch.org/releases/bundle/opensearch/1.2.0/opensearch-1.2.0-linux-x64.tar.gz
          tar -xzf opensearch-1.2.0-linux-x64.tar.gz
          cd opensearch-1.2.0

          echo "plugins.security.disabled: true" >> config/opensearch.yml
          echo "network.host: 127.0.0.1" >> config/opensearch.yml
          echo "cluster.name: github-actions-cluster" >> config/opensearch.yml
          echo "discovery.type: single-node" >> config/opensearch.yml

          ./bin/opensearch > opensearch.log 2>&1 &

          echo "Waiting for OpenSearch to boot on port 9200..."
          until curl -s http://localhost:9200 >/dev/null 2>&1; do
            echo "Still waiting..."
            sleep 5
          done
          echo "OpenSearch is up!"

      - name: Tests
        run: |
          export MEDIA_ROOT="$(mktemp -d)"
          sudo mkdir /var/media 
          sudo chown -R $USER:$USER /var/media
          tox
        env:
          DEBUG: 'False'
          NODE_ENV: 'production'
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/postgres
          MICROMASTERS_SECURE_SSL_REDIRECT: 'False'
          MICROMASTERS_DB_DISABLE_SSL: 'True'
          OPENSEARCH_URL: localhost:9200
          CELERY_TASK_ALWAYS_EAGER: 'True'
          BROKER_URL: redis://localhost:6379/4
          CELERY_RESULT_BACKEND: redis://localhost:6379/4

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
  
  javascript-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: "14.18.2"
          cache: 'yarn'

      - name: Set up environment
        run: sudo apt-get install libelf1

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lints
        run: npm run lint

      - name: Code formatting
        run: npm run fmt:check

      - name: Scss lint
        run: npm run scss_lint

      - name: Flow
        run: npm run flow

      - name: Tests
        run: npm run test
        env:
          CODECOV: true
          NODE_ENV: development

      - name: Webpack build
        run: node node_modules/webpack/bin/webpack.js --config webpack.config.prod.js --bail

      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v4
        with:
          file: coverage/lcov.info
