{% extends "base.html" %}
{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% wagtailuserbar %}
{% block body_class %}template-programpage{% endblock %}

{% block title %}MITx MicroMasters&reg; : Bringing MIT to you{% endblock %}
{% block description %}
  MicroMasters is a professional and academic credential for online learners from anywhere in the world. Learners who pass an integrated set of MITx graduate-level courses on edX.org, and one or more proctored exams, will earn a MicroMasters credential from MITx, and can then apply for an accelerated, on campus, master’s degree program at MIT or other top universities.
{% endblock %}
{% block keywords %}micromasters, MIT, online master's, online courses, MOOC{% endblock %}

{% block social %}
  <meta property="og:site:name" content="MITx MicroMasters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="MITx MicroMasters">
  <meta property="og:description" content="MicroMasters is a
    new digital credential for online learners. The MicroMasters
    credential will be granted to learners who complete an
    integrated set of MITx graduate-level online courses. With the MicroMasters
    credentials, learners can apply for an accelerated master's degree
    program on campus, at MIT or other top universities.">
  <meta property="og:image" content="{{ request.build_absolute_uri }}static/images/homepage.png">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="948">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MITxonedX">
  <meta itemprop="name" content="MITx MicroMasters">
  <meta itemprop="description" content="MicroMasters is a
    new digital credential for online learners. The MicroMasters
    credential will be granted to learners who complete an
    integrated set of MITx graduate-level online courses. With the MicroMasters
    credentials, learners can apply for an accelerated master's degree
    program on campus, at MIT or other top universities.">
  <meta itemprop="image" content="{{ request.build_absolute_uri }}static/images/homepage.png">
  <meta name="twitter:description" content="MITx MicroMasters Programs: a new academic credential
    and a new path to a master’s degree from MIT. Learn more ">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {# This is included separately because FancyBox isn't used anywhere else so putting into the styles bundle isn't optimal. #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/jquery.fancybox.min.css'%}">
{% endblock %}

{% block content %}

<div id="home-page">
{% include "header.html" %}

  <div class="main-content-wrapper">
    <main>
      <div class="banner-wrapper">
        {% if user.is_anonymous and coupon_code %}
          <div role="alertdialog" class="toast">
            <div class="toast-message">
              <i class="material-icons">account_circle</i>
              <div class="toast-body">
                <p>You need to Sign up or Login before you can apply this coupon.</p>
              </div>
              <button class="toast-close close">
                <i class="material-icons close-icon">close</i>
              </button>
            </div>
            <ul class="toast-actions">
              <li><button class="mm-minor-action open-signup-dialog">Log In</button></li>
              <li><button class="mm-minor-action open-signup-dialog">Sign Up</button></li>
            </ul>
          </div>
        {% endif %}
        <div class="banner-wrapper-content">
          <h1>
            MITx MicroMasters Programs: Master Your Future
          </h1>
          <a id="actionButton" class="btn btn-primary text-uppercase px-5 py-2 action-button" data-fancybox href="https://www.youtube.com/embed/7lVvOSJpFGY?autoplay=true">Watch Now</a>
          <p class="video-container"></p>
        </div>
      </div>

      <div class="row sub-banner current-programs-section">
        <div class="col-md-12">
          <section class="sub-banner-section">
            <div class="sub-banner-text">
              <h2>MITx MicroMasters<span class="trademark">&reg;</span> Programs</h2>
            
              <p>Advance your career or accelerate your Master’s degree with a graduate-level digital credential from MIT.</p>
              <p>The MicroMasters program credential from MIT Open Learning is a <b>professional and academic credential</b> for online learners
                 from anywhere in the world who seek focused, accelerated advancement.</p> 
              <p><b>Enroll</b> in a program—no admission required—and take 
                 a series of graduate-level online courses, taught by MIT instructors, through edX.</p> 
              <p><b>Earn</b> a program credential by 
                 completing the course and passing one or more proctored exams.</p>
              <p>   
                 <b>Enjoy</b> the credential benefits: Credential earners can also apply for 
                 an accelerated master’s degree program at MIT and other <a href="/pathways-graduate-programs/">pathway schools</a>; and include your credential on professional 
                 profiles. MicroMasters program credential earners also become <a href="{{benefits_url}}">affiliates of the MIT Alumni Association</a>.
              </p>
              <ul class="current-programs-list">
                {% for program, programpage in programs %}
                  <li class="col-sm-6">
                    <div class="program-thumbnail">
                      {% if programpage %}
                          <a href="{{ programpage.url }}" class="program-link">
                      {% endif %}
                        <div class="program-info">
                          <h4 class="program-title" aria-describedby="program-{{ program.id }}-description">
                            {% if programpage %}
                              {{ programpage.title }}
                            {% endif %}
                          </h4>
                          {% with program.course_set.count as course_count %}
                            {% if course_count %}
                              <div class="program-num-courses">
                                {% blocktrans count counter=course_count %}
                                  {{ counter }} course
                                {% plural %}
                                  {{ counter }} courses
                                {% endblocktrans %}
                              </div>
                            {% endif %}
                          {% endwith %}
                          <div class="program-description">
                            <p class="program-description-text" id="program-{{ program.id }}-description">{{ program.description|default:"No description available for this program." }}</p>
              
                            {% if programpage %}
                              <p class="program-description-link">
                                <a href="{{ programpage.url }}" class="program-link">
                                  More about {{ program }}
                                </a>
                              </p>
                            {% endif %}
                          </div>      
                        </div>
                        {% if programpage and programpage.thumbnail_image %}
                          {% image programpage.thumbnail_image fill-690x530 as thumbnail_image %}
                          <img src="{{ thumbnail_image.url }}" alt=""
                               >
                        {% else %}
                          <img src="{% static 'images/course-thumbnail.png' %}"
                               alt="" class="program-default-image">
                        {% endif %}
                      {% if programpage %}
                        </a>
                      {% endif %}
                    </div>
                  </li>
                {% endfor %}
        
              </ul>
              </div>
            </div>
          </section>
        </div>
      </div>

      <section class="row reasons-section">
        <div class="centered-content">
          <h3>Why Should I Enroll?</h3>
          <div class="enroll-reason col-md-3">
            <div class="reasons-images-wrap">
               <img src="{% static 'images/online.png' %}" alt="">
            </div>

            <h4>Advance Your Career</h4>
            <p>Learn online, pass digital proctored exams, and earn a program credential. 
              Boost your professional profile with an affordable and valuable credential from MIT.</p>
          </div>
          <div class="enroll-reason col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/blended.png' %}" alt="">
            </div>

            <h4>Accelerate Your Master’s</h4>
            <p>Fast-track your master’s degree at MIT and  many other <a href="/pathways-graduate-programs/">pathway schools</a> around the world.</p>

          </div>
          <div class="enroll-reason col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/dome_icon.webp' %}" alt="">
            </div>
             <h4>Be Part of the MIT Community</h4>
            <p>Become an affiliate member of the MIT Alumni Association and receive special access to professional journals and publications.</p>
          </div>
          <div class="enroll-reason col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/globe-icon.png' %}" alt="">
            </div>
             <h4>Grow Your Network</h4>
            <p>After you earn your MicroMasters® program credential, build connections through a private group of like-minded professionals.</p>
          </div>
        </div>
        <div class="benefits">
          <a href="{{ benefits_url }}">Learn More About These Benefits</a>
        </div>
      </section>

      <section class="b2b">
        <div class="container">
          <div class="content-holder">
            <h3>For Organizations and Academic Institutions</h3>
            <p>
              Equip your workforce and organization with new applicable skills through the MITx MicroMasters program!
             </p> 
             <p>
              We work closely with organizations globally that wish to integrate our programs into their own education 
              and training portfolios. Flexible pricing options available. 
             </p>
             <a class="btn btn-primary text-uppercase px-5 py-2" href="/organizations/">Learn More</a>
          </div>
        </div>
      </section>

      <section class="events">
        <div class="container">
          <h3>Join Us at Our Free Online Events</h3>
          <div class="content-holder">
            <a class="img-link" href="events/"><img src="{% static 'images/events.png' %}" alt="Events"></a>
            <div class="info">
              <p>Register for one of our upcoming webinars to learn more about the different MicroMasters programs at MIT. 
                Our events are hosted by the course teams, including MIT faculty, and they provide a great opportunity 
                to ask questions about our courses.</p>
              <a class="btn btn-primary text-uppercase px-5 py-2" href="events/">View Events</a>
            </div>
          </div>
        </div>
      </section>
      
      <section class="faqs">
        <div class="faq-holder">
          <img src="{% static 'images/faq.png' %}" alt="FAQs">
          <div class="info">
            <span class="title">frequently asked questions</span>
            <span class="description">
              <a href="https://mitx-micromasters.zendesk.com/hc/en-us">Find Answers</a> to Your Questions
            </span>
          </div>
        </div>
      </section>

      <section class="quote-section">
        <div class="row quote">
          <img class="person" src="{% static 'images/reif1.png' %}" alt="">
          <blockquote class="quote-text">“We will find people who never thought they would be able to apply to MIT. And they will discover that they are much stronger in the global competition than they think.”</blockquote>
          <p class="quote-author">Rafael Reif, MIT President  </p>
        </div>
        <div class="row quote">
          <img class="person" src="{% static 'images/sanjay.png' %}" alt="">
          <blockquote class="quote-text">“Inverted admissions has the potential to disrupt traditional modes of access to higher education… We’re democratizing access to a master’s program for learners worldwide.”</blockquote>
          <p class="quote-author">Sanjay Sarma, Vice President of Open Learning, MIT  </p>
        </div>
      </section>

    </main>
  </div>

  <script src="{% static 'js/vendor/jquery.fancybox.min.js' %}"></script>

  {% if not DO_NOT_TRACK %}
    {% include "adwords.html" %}
  {% endif %}
  {% include "footer.html" %}

<div id="signup-dialog">
  <!-- signup dialog React component injected here -->
</div>

{% load render_bundle %}
{% render_bundle "public" %}
</div>
{% endblock %}

$(document).ready(function($) {
  $(".action-button").fancybox({
    caption: function() {
      return $(this)
        .parent()
        .find(".video-container")
        .html()
    }
  })
})
